/*�������г�����õ�����ʽ�ļ�*/
.gjhBackstrop {
    display: block;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100000;
    background-color: rgba(255, 255, 255, .7);
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
}

.gjhLoading {
    text-align: center;
    /*width: 100px;*/
    margin: -50px auto 5px -25px;
    vertical-align: middle;
    position: absolute;
    top: 50%;
    color: #fa4c4c;
    left: 50%;
}

.url-loading {
    /*width: 56px;
    height: 23px;
    padding-top: 7px;*/
    animation: gjhLoading infinite linear 1.8s;
    -webkit-animation: gjhLoading infinite linear 1.8s;
    -moz-animation: gjhLoading infinite linear 1.8s;
    -o-animation: gjhLoading infinite linear 1.8s;
}

@keyframes gjhLoading {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes gjhLoading {
    from {
        -webkit-transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes gjhLoading {
    from {
        -moz-transform: rotate(0deg);
    }

    to {
        -moz-transform: rotate(360deg);
    }
}

@-o-keyframes gjhLoading {
    from {
        -o-transform: rotate(0deg);
    }

    to {
        -o-transform: rotate(360deg);
    }
}

.gjh-share {
    position: absolute;
    top: 25px;
    right: 0px;
    z-index: 101;
    display: none;
}

.gjh-share img {
    width: 300px;
}

.scaleImg {
    animation: scaleImg 1s;
    -webkit-animation: scaleImg 1s;
    -o-animation: scaleImg 1s;
    -moz-animation: scaleImg 1s;
}

@keyframes scaleImg {
    from {
        transform: scale(0.1, 0.1);
    }

    to {
        transform: scale(1, 1);
    }
}

@-webkit-keyframes scaleImg {
    from {
        -webkit-transform: scale(0.1, 0.1);
    }

    to {
        -webkit-transform: scale(1, 1);
    }
}

@-o-keyframes scaleImg {
    from {
        -o-transform: scale(0.1, 0.1);
    }

    to {
        -o-transform: scale(1, 1);
    }
}

@-moz-keyframes scaleImg {
    from {
        -moz-transform: scale(0.1, 0.1);
    }

    to {
        -moz-transform: scale(1, 1);
    }
}

.gjhContainer-wrap {
    position: absolute;
    overflow: hidden;
    left: 0;
    right: 0;
    bottom: 0;
}

.gjhContainer-wrapin {
    width: 100%;
    height: 100%;
}

.gjhContainer:after {
    display: block;
    content: " ";
    clear: both;
    width: 0;
    height: 0;
}

.gjhContainer {
    min-height: 101% !important;
}

.nodataInner {
    margin: 20px 10px;
    text-align: center;
    font-size: 13px;
    color: #999999;
}

.nodataInner img {
    width: 100px;
    height: 100px;
}

.gy_same footer li.active i.footer_22 {
    background: url("../images/index/id_b2.png");
    background-size: cover;
}

.gy_same footer li.active i.footer_33 {
    background: url("../images/index/id_b3.png");
    background-size: cover;
}

.gy_same footer li.active i.footer_44 {
    background: url("../images/index/id_b4.png");
    background-size: cover;
}

.same footer li i.footer_11 {
    background: url("../images/index/id_a1.png");
    background-size: cover;
}

.dnone {
    display: none;
}

.confirm-body {
    font-size: 20px;
}

.mask {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: -1;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    display: none;
}