<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.blueteam.wineshop.mapper.ApplyRefundRecordMapper" >
  <resultMap id="BaseResultMap" type="com.blueteam.entity.po.ApplyRefundRecordPO" >
    <constructor >
      <idArg column="apply_refund_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="order_id" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="refund_fee" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="refund_reason_code" jdbcType="TINYINT" javaType="java.lang.Integer" />
      <arg column="refund_reason_desc" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="refund_remark" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="process_status" jdbcType="TINYINT" javaType="java.lang.Integer" />
      <arg column="process_by" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="process_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    apply_refund_id, order_id,refund_fee, refund_reason_code, refund_reason_desc, refund_remark,
    process_status, process_by, process_time, create_time
  </sql>
  <select id="getApplyRefundRecord" resultMap="BaseResultMap"  >
    select 
    <include refid="Base_Column_List" />
    from tf_m_apply_refund_record
    where order_id = #{orderId,jdbcType=BIGINT} and process_status = #{processStatus,jdbcType=BIGINT}
  </select>

  <insert id="saveApplyRefundRecord" parameterType="com.blueteam.entity.po.ApplyRefundRecordPO" >
    insert into tf_m_apply_refund_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="refundFee != null" >
        refund_fee,
      </if>
      <if test="refundReasonCode != null" >
        refund_reason_code,
      </if>
      <if test="refundReasonDesc != null" >
        refund_reason_desc,
      </if>
      <if test="refundRemark != null" >
        refund_remark,
      </if>
      <if test="processStatus != null" >
        process_status,
      </if>
      <if test="processBy != null" >
        process_by,
      </if>
      <if test="processTime != null" >
        process_time,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        #{orderId,jdbcType=BIGINT},
      </if>
      <if test="refundFee != null" >
        #{refundFee,jdbcType=BIGINT},
      </if>
      <if test="refundReasonCode != null" >
        #{refundReasonCode,jdbcType=TINYINT},
      </if>
      <if test="refundReasonDesc != null" >
        #{refundReasonDesc,jdbcType=VARCHAR},
      </if>
      <if test="refundRemark != null" >
        #{refundRemark,jdbcType=VARCHAR},
      </if>
      <if test="processStatus != null" >
        #{processStatus,jdbcType=TINYINT},
      </if>
      <if test="processBy != null" >
        #{processBy,jdbcType=INTEGER},
      </if>
      <if test="processTime != null" >
        #{processTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateApplyRefundRecord" parameterType="com.blueteam.entity.po.ApplyRefundRecordPO">
    update tf_m_apply_refund_record
    <set>
      <if test="orderId != null">
        order_id = #{orderId,jdbcType=BIGINT},
      </if>
      <if test="refundReasonCode != null">
        refund_reason_code = #{refundReasonCode,jdbcType=TINYINT},
      </if>
      <if test="refundReasonDesc != null">
        refund_reason_desc = #{refundReasonDesc,jdbcType=VARCHAR},
      </if>
      <if test="refundRemark != null">
        refund_remark = #{refundRemark,jdbcType=VARCHAR},
      </if>
      <if test="processStatus != null">
        process_status = #{processStatus,jdbcType=TINYINT},
      </if>
      <if test="processBy != null">
        process_by = #{processBy,jdbcType=INTEGER},
      </if>
      <if test="processTime != null">
        process_time = #{processTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where order_id = #{orderId,jdbcType=INTEGER} AND  process_status = 0
  </update>

</mapper>