#dt_basic {
    text-align: center;
    table-layout: fixed;
}

#dt_basic thead th {
    text-align: center;
    padding: 15px 0;
}

#dt_basic tbody td {
    vertical-align: middle;
    padding: 5px;
}

#dt_basic tbody td:nth-child(4), #dt_basic tbody td:nth-child(5) {

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
}

#dt_count {
    text-align: center;
    table-layout: fixed;
}

#dt_count thead th {
    text-align: center;
}

#dt_count tbody td {
    word-break: break-all;
}

.tableBtn {
    display: inline-block;
}

.icon_img {
    height: 18px;
    width: 18px;
    vertical-align: -2px;
    margin-right: 5px;
}