.left-panel {
    width: 30%;
    float: left;
}

.right-panel {
    width: 69%;
    margin-left: 1%;
    float: right;
}

.left-panel .left-panel {
    width: 40%;
    float: left;
}

.left-panel .right-panel {
    width: 40%;
    float: right;
}

#add_dictionnay_data .active {
    display: none;
}
