<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.blueteam.wineshop.mapper.ContinuationMapper">
    <resultMap id="continuation" type="com.blueteam.entity.po.Continuation">
        <id column="Id" jdbcType="INTEGER" property="Id"/>
        <result column="ForeignKey" jdbcType="INTEGER" property="ForeignKey"/>
        <result column="Type" jdbcType="VARCHAR" property="Type"/>
        <result column="ExpandText1" jdbcType="VARCHAR" property="ExpandText1"/>
        <result column="ExpandText2" jdbcType="VARCHAR" property="ExpandText2"/>
        <result column="CreateDate" jdbcType="VARCHAR" property="CreateDate"/>
        <result column="CreateBy" jdbcType="VARCHAR" property="CreateBy"/>
        <result column="UpdateBy" jdbcType="VARCHAR" property="UpdateBy"/>
        <result column="UpdateDate" jdbcType="VARCHAR" property="UpdateDate"/>
        <result column="Status" jdbcType="VARCHAR" property="Status"/>
    </resultMap>

    <!-- 新增拓展数据 -->
    <insert id="insertContinuation" parameterType="com.blueteam.entity.po.Continuation">
        insert into Continuation
        (ForeignKey,Type,ExpandText1,ExpandText2,Status,CreateDate,CreateBy,UpdateBy,UpdateDate)
        values(#{ForeignKey},#{Type},#{ExpandText1},#{ExpandText2},#{Status},#{CreateDate},#{CreateBy},#{UpdateBy},#{UpdateDate})
    </insert>

    <!-- 发现拓展信息数据集合 -->
    <select id="ContinuationList" resultMap="continuation">
        SELECT * FROM Continuation WHERE ForeignKey = #{ForeignKey} and Type=#{Type} order by UpdateDate desc
    </select>

    <!-- 删除拓展的相关信息 -->
    <delete id="deleteByPrimaryKey" parameterType="java.util.List">
        delete from Continuation where ForeignKey = #{ForeignKey} and Type=#{Type}
    </delete>
</mapper>